<!DOCTYPE html>
<html lang="en">
  <script src="/js/copyLink.js"></script>
  <%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>

    <main>
      <!-- Flash messages partial -->
      <%- include('../partials/flash-messages') %>

      <%- body %>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>